.root {
    -fx-base: #5b5b5b; /* Base color for the UI */
    -fx-background: #494949; /* Background color for the UI */
}

/* Styles for buttons */
.button {
    -fx-text-fill: #f2f2f2; /* Text color for buttons */
}

/* Styles for text fields */
.text-field {
    -fx-background-color: #292929; /* Background color for text fields */
    -fx-text-fill: #f2f2f2; /* Text color for text fields */
    -fx-border-color: #555555; /* Border color for text fields */
}

.table-cell {
    -fx-font-size: 13pt;
}

